PORT="YOUR_PORT"
FRONTEND_URL="YOUR_FRONTEND_URL"
SUPABASE_URL="YOUR_SUPABASE_URL"
SUPABASE_ANON_KEY="YOUR_SUPABASE_ANON_KEY"
SUPABASE_SERVICE_ROLE_KEY="YOUR_SUPABASE_SERVICE_ROLE_KEY"
NOVU_SECRET_KEY="YOUR_NOVU_SECRET_KEY"
STORAGE_BUCKET_NAME="YOUR_STORAGE_BUCKET_NAME"